<section>
    <h1>Block post</h1>
    <img ngSrc="/assets/images/logo.jpg" alt="logo" width="100" height="100" />
    <article>
      <p>
        Angular is a web framework that empowers developers to build fast,
        reliable applications. Maintained by a dedicated team at Google, Angular
        provides a broad suite of tools, APIs, and libraries to simplify and
        streamline your development workflow. Angular gives you a solid platform
        on which to build fast, reliable applications that scale with both the
        size of your team and the size of your codebase.
      </p>
      <p>
        Angular is a web framework that empowers developers to build fast,
        reliable applications. Maintained by a dedicated team at Google, Angular
        provides a broad suite of tools, APIs, and libraries to simplify and
        streamline your development workflow. Angular gives you a solid platform
        on which to build fast, reliable applications that scale with both the
        size of your team and the size of your codebase.
      </p>
      <p>
        Angular is a web framework that empowers developers to build fast,
        reliable applications. Maintained by a dedicated team at Google, Angular
        provides a broad suite of tools, APIs, and libraries to simplify and
        streamline your development workflow. Angular gives you a solid platform
        on which to build fast, reliable applications that scale with both the
        size of your team and the size of your codebase.
      </p>
    </article>
    <h2>Comments</h2>
    @defer (on viewport) {
    <comments-component />
    } @placeholder {
    <p>Future comments ti be loaded!</p>
    } @loading (minimum 2s){
    <p>Loading comments...</p>
    }
  </section>